@page {
    size: a4;
    margin: 4cm;
}

p {
    text-align: justify;
    font-size: 16pt;
}

p.hyphenate {
    hyphens: auto;
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}


#break {
    page-break-before: always;
}

