@page {
    size: a4;
    margin: 2cm;

    @bottom-left {
        content: "BOTTOM LEFT";
    }
    @top-right {
        content: "TOP RIGHT";
    }
    @top-left-corner {
        content: "TOP LEFT CORNER";
    }
    @bottom-right-corner {
        content: "BOTTOM RIGHT CORNER";
    }
}

img {
    width: 100%;
}
