@import url("../styles/a4-landscape.css");

div.multicol {
    margin-bottom: 2em;
    text-align: justify;
    hyphenation: auto;
    page-break-after: always;
}


h1 {
    column-span: all;
}

.cols-4 {
    column-count: 4;
    column-gap: 1cm;
    column-role: 4px outset #ff0ff;
}

.cols-3 {
    column-count: 3;
    column-gap: 1cm;
}

.cols-2 {
    column-count: 2;
    column-gap: 1cm;
}
